@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* CAN EDIT */
:root {
  /* background color of the page (only shows up if you don't use a background image */
  --page-background: #0E1525;

  /* styles related to the card */
  --card-background: #0F1726;
  --card-outline: #000000;
  --card-shadow: 0px 16px 32px rgba(2, 2, 3, 0.48);
  --card-shadow-hover: 0px 16px 32px rgba(2, 2, 3, 0.64);
  
  /* styles related to text */
  /* font family of text you can go to https://fonts.google.com/ to import a different font if you want */ 
  --font-family: 'Dancing Script', sans-serif;
  --text-color: #F5F9FC;

  /* styles related to buttons */
  --button-primary-default: #000000;
  --button-primary-hover: #000000;
  --button-primary-active: #000000;
  
  --button-secondary-default: #000000;
  --button-secondary-hover: #000000;
  --button-secondary-active: #000000;
}

* {
  margin: 0;
  padding: 0;
}
  
html, body {
  width: 100%;
  height: 100%;
  background-color: var(--page-background);
  background-image: url("AstigBackground.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

a {
  text-decoration: none;   
}

.card {
  background: var(--card-background);
  border: 2px solid var(--card-outline);
  border-radius: 16px;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  max-width: 400px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: var(--card-shadow-hover);
}

.card .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card .top .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  border: 4px solid var(--button-primary-default);
}

.card .top .logo-wrapper img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.card .top .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.card .top .text h4 {
  max-width: 352px;
}

.card .socials {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card .buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card button {
  background: var(--button-secondary-default);
  color: var(--text-color);
  font-family: var(--font-family);
  border: none;
  border-radius: 20px;
  padding: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 120ms ease-out;
}
.card button.icon {
  background: transparent;
  border-radius: 50%;
  width: auto;
}

.card button.primary {
  background: var(--button-primary-default);
}

.card button:hover {
  background: var(--button-secondary-hover);
}

.card button.primary:hover {
  background: var(--button-primary-hover);
}

.card button:active {
  background: var(--button-secondary-active);
}

.card button.primary:active {
  background: var(--button-primary-active);
}


@media only screen and (max-height: 700px) {
  .card {
    transform: scale(0.8);
  }

  .card:hover {
    transform: scale(0.85);
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 90%;
  }
}

